CREATE TABLE tCategory
(
	CategoryId INT AUTO_INCREMENT NOT NULL PRIMARY KEY,
	CategoryName VARCHAR(150) NOT NULL,
	Description VARCHAR(4000) NULL
) ENGINE = InnoDB;

INSERT INTO CHECK_UPDATES (CREATION_DATE,SCRIPT_NAME,SCRIPT_PURPOSE) 
VALUES (NOW(),
	'2009 10 16 11 18 create table tCategory',
	'create table Category'
);
