CREATE TABLE tFigur
(
	FigurId INT AUTO_INCREMENT NOT NULL PRIMARY KEY,
	FigurName VARCHAR(150) NOT NULL,
	Description VARCHAR(4000) NULL,
	Price DECIMAL(18, 2) NULL,
	FK_Serie_ID INT NOT NULL,
 	CONSTRAINT FK_Figur_Serie FOREIGN KEY
	(
		FK_Serie_ID
	) REFERENCES tSerie
	(
		SerieId
	)
) ENGINE = InnoDB;

INSERT INTO CHECK_UPDATES (CREATION_DATE,SCRIPT_NAME,SCRIPT_PURPOSE) 
VALUES (NOW(),
	'2009 10 16 11 20 create table tFigur', 
	'create table Figur'
);
